{% extends "base.html" %}
{% block title %}Smart Cart | Services {% endblock %}
{% block content %}

<!-- Services Section -->
<div class="container my-5">
    <h1 class="text-center mb-4">Our Services</h1>
    <div class="row">
        {% for Service in service %}
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
            <div class="card h-100 text-center">
                <img src="{{ Service.image.url }}" class="card-img-top" alt="Mobile Repair Logo">
                <div class="card-body">
                    <h5 class="card-title">{{ Service.title }}</h5>
                    <p class="card-text">{{ Service.description }}</p>
                    <a href="javascript:void(0);" 
                        class="btn btn-dark" 
                        onclick="{% if user.is_authenticated %}window.location.href='{% url 'service_form' %}'{% else %}unauthenticatedAlert(){% endif %}">
                        {{ Service.button }}
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
    